@{
    ViewBag.Title = "Transaction Not found";
    Layout = "_Layout";
}

<h2>Transaction is not found</h2>
<div class="row">
    <div class="alert alert-dismissible alert-warning col-md-12">
        <p>We where unable to locate the transaction with hash @Model</p>
        <p><a asp-controller="Block" asp-action="Index" class="btn btn-success btn-xs">Go to Blocks</a></p>
    </div>
</div>